

<div id="<%= dom_id perfil %>">
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= current_user.role %>
  </p>

  <p>
    <strong>User:</strong>
    <%= current_user.user_id %>
  </p>

</div>